@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

.aTag{
  text-decoration: none;
  color: black;
}
.list{
  list-style: none;
} 

  /* navbar style start  */

.mainNav {
  background-color: #fff;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -20px,
    rgba(0, 0, 0, 0.1) 0px 30px 40px -30px;
*/
}
.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;

}
.menuLink {
  grid-column: 3/4;
}

.menuLink ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialMedia {
  grid-column: 4/5;
}

.socialMedia ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.socialMedia ul li {
  text-align: right;
}

.socialMedia ul li:first-child {
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */
.bamburgerBtn{
  border: none;
  background: #fff;

}


.menuLink ul li {
  font-size: 1.8rem;
}

.menuLink ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menuLink ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.socialMedia ul li {
  font-size: 1.8rem;
}

.socialMedia .hamburgerMenu {
  display: none;
}

.facebook {
  color: #3b5998;
}

.instagram {
  color: #c32aa3;
}

.github {
  color: black;
}
.linkdin{
  color: #0A66C2;
}
/* hero section   */

.hero-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section p {
  font-size: 3rem;
  text-transform: capitalize;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/* responsive css style  */
@media (max-width: 1080px) {
  .mainNav {
    z-index: 1000;
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    align-items: center;
  }

  .logo,
  .menuLink ul,
  .socialMedia ul {
    height: 8rem;
  }
  .logo{
    margin-top: 0px;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .mainNav {
    z-index: 1000;
    height: 8rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    align-items: center;

  }

  .menuLink {
    display: none;
  }

  .logo,
  .socialMedia ul {
    height: 7rem;
  }
  .mobileMenuLink {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }
  .socialMedia {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

.socialMedia .socialMediaDesktop{
  height: 0;
  display: none;
}
.facebook, .instagram, .github, .linkdin{
  display: none;
}

.socialMedia .hamburgerMenu {
  display: block;
  font-size: 2.5rem;
}
.socialMedia {
  height: 7rem;
  display: flex;
  justify-self: end;
  align-items: center;
}
 

  .mobileMenuLink {
    position: relative;
    top: 1rem;
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobileMenuLink ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobileMenuLink ul li:first-child {
    transition-delay: 0.2s;
  }





}

@media (max-width: 798px) {
  .mainNav {
    z-index: 1000;
    height: 8rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    align-items: center;
  }

  .logo,
  .socialMedia ul {
    height: 6rem;
  }

  .socialMedia {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .socialMedia .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

