.modalWrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: rgb(189,189,189,0.7);
}
.modalContainerWrapper{
    position: fixed;
    z-index: 1002;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalContainer{
    z-index: 1002;
    background: #fff;
    width: 35rem;
    height: 30rem;
    margin: 3rem;
    border-radius: .9rem;
    padding: 2rem;

}
.modalFormWrapper{
    margin: 1rem 2rem 1rem 2rem;
}
.modalFormChilds{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.modalformLabel{
    font-size: 1.4rem;
}
.modalformInput{
    font-size: 1.2rem;
    padding: .4rem;
    outline: none;
    background-color: rgb(189,189,189,0.2);
    color: black;
    border: none;
    border-radius: .5rem;
}
.btnWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.modalBtn{
    font-size: 1.2rem;
    padding: .4rem .7rem;
    border: none;
    color: #fff;
    background: green;
    margin-left: 1rem;
    border-radius: .5rem;
}
.red{
    background: rgb(192, 8, 8);
}
.modalBtn:hover{
    cursor: pointer;
}